body {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

ul{
    margin: 5%;
}

li{
    text-align: left;
    margin: 10px;
}

article{
    margin: 20px;
    padding: 10px;
    border-radius: 5%;
}
